.reservations{
    background: url("../img/menu_bg.png") center center/ cover no-repeat;
    width: 100%;
    min-height: 508px;
    padding: 100px 0;
    .container{
        display: flex;
        justify-content: center;
    }
    img{
        display: block;
        margin: 0 15px;
    }
    &__food{
        text-align: center;
        width: 430px;
        min-height: 505px;
        margin-left: 100px;
        h2{
            color: #cc9900;
            font-family: "Yeseva One";
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 22px;
        }
        img{
            display: inline;
        }
        &__descr{
            color: #4c4c4c;
            font-family: Lato;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 32px;
        }
        .form__reservations{
            margin-top: 76px;
            position: relative;
            label{
                position: absolute;
                color: #c9a131;
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: 700;
            }
            label[for="name"]{
                top: -20px;
            }
            label[for="mail"]{
                top: -20px;
                left: 226px;
            }
            label[for="date"]{
                top: 56px;
            }
            label[for="number"]{
                top: 56px;
                left: 226px;
            }
            input{
                width: 180px;
                height: 36px;
                border: 1px solid #c8c6c6;
                background-color: #ffffff;
                margin-bottom: 38px;
                padding: 0 10px 0 10px;
                &::placeholder{
                    color: #7c7c7c;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-style: italic;
                }
                &:focus{
                    border: 1px solid #c89f2d;
                }
                &:nth-child(4), &:nth-child(8){
                    margin-left: 20px;
                }
            }
        }
    }
}