@media (max-width: 1221px){
    .menu__wrap__block:last-child {
        margin-top: 0;
    }
}
@media (max-width: 1199px){
    .header h1 {
        font-size: 72px;
    }
    .food__plate{
        img{
            width: 521px;
            height: 525px;
        }
    }
}